<div class="w-[650px] bg-white rounded-lg shadow p-6 mb-8">
    <div class="flex justify-center w-full">
        <!-- Avatar circle -->
        <div class="flex-shrink-0 mr-5">
            <div class="cursor-pointer font-bold w-12 h-12 bg-gray-300 flex items-center justify-center rounded-full">
                F
            </div>
        </div>
        <!-- Form -->
        <div class="flex-1">
            <!-- Text Area -->
            <textarea (keyup.enter)="sendTweet()"
                class="placeholder-gray-700 mb-2 bg-gray-200 focus:outline-none focus:shadow-outline focus:bg-gray-100 resize-none border-transparent border rounded-lg py-2 px-4 block w-full appearance-none font-light "
                placeholder="O que está acontecendo?" [(ngModel)]="tweetMessage" (input)="changeTweet()"
                maxlength="560">
            </textarea>
            <!-- Divider Line -->
            <div class="w-auto border rounded-lg bg-gray-700">
            </div>
            <!-- interactive -->
            <div class="flex justify-end items-baseline">
                <!-- Count Chars -->
                <div [ngClass]="textColorClass" class="mr-5 font-thin">
                    <p>{{tweetRemain}}</p>
                </div>
                <!-- Button -->
                <div class="mt-5">
                    <button (click)="sendTweet()" [ngClass]="buttonFunction" type="button"
                        class="shadow font-medium text-center text-white  w-32 focus:outline-none border border-transparent py-2 px-5 rounded-lg bg-blue-500">
                        Tweetar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>